@import url("./_resets.css");

html {
  box-sizing: border-box;
}

body {
  /*background: #303030;*/
  background: #080808 ;
  /*background: white;*/
  font-family: helvetica;
}

.topcontainer {
  width: 100%;
  height: 90px;
  /*background: pink;*/
  display: flex;
  justify-content: space-between;
}


.topleftcontainer {
  width: 250px;
  height: 80px;
  /*background: green;*/
  display: flex;

}

.topleftleftcontainer {
  width: 90px;
  /*background: yellow;*/
  height: 78px;
}

.player1logo {
  width: 70px;
  /*background: purple;*/
  height: 70px;
  background: white;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 30px;
}

.topleftrightcontainer {
  width: 137px;
  /*background: blue;*/
  height: 78px;
  margin-left: 20px
}

p {
  color: white;
}

.player1 {
  width: 120px;
  /*background: tomato;*/
  height: 30px;
  margin-top: 10px;
  margin-left: 8px;

}

.player1score {
  width: 80px;
  /*background: grey;*/
  height: 35px;
  margin-left: 8px;
  color: tomato;
  font-size: 2em;
}

.middlecontainer {
  width: 180px;
  /*background: grey;*/
  height: 80px;
}

.timeleft {
    width: 180px;
    background: skyblue;
    height: 40px;
}

.displaytimer {
  width: 180px;
  background: tomato;
  height: 40px;
}

.toprightcontainer {
  width: 250px;
  height: 80px;
  /*background: green;*/
  display: flex;
}

.toprightleftcontainer {
  width: 137px;
  /*background: blue;*/
  height: 78px;
  margin-left: 20px
}

.player2 {
  width: 120px;
  /*background: tomato;*/
  height: 30px;
  margin-top: 10px;
  margin-left: 8px;
}

.player2score {
  width: 80px;
  /*background: grey;*/
  height: 35px;
  color: tomato;
  font-size: 2em;
  margin-left: 45px;
}

.toprightrightcontainer {
  width: 90px;
  /*background: yellow;*/
  height: 78px;
}

.player2logo {
  width: 70px;
  background: white;
  border-radius: 50%;
  height: 70px;
  margin-top: 10px;
  margin-left: -50px;
}

.bottomcontainer {
  width: 100%;
  /*background: grey;*/
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.bottomleftcontainer {
  width: 500px;
  height: 500px;
  /*background: tomato;*/
}

.question {
  width: 600px;
  height: 100px;
  color: white;
  /*line-height: 20px;*/
  margin-top: 80px;
  font-size: 20px;
  text-align: center;
  /*background: skyblue;*/
}

.choicecontainer {
  width: 600px;
  height: 100px;
  /*background: blue;*/
  display: flex;
  margin-top: 50px;
}

.select {
  width: 350px;
  height: 42px;
  background: white;
  color: black;
  text-align: center;
  padding-top: 20px;
  background: white;
  border: 2px solid black;
  margin: 20px 20px;
  text-wrap: wrap;
  overflow: visible;
}

.imagecontainer {
  width: 600px;
  height: 550px;
  background: limegreen;
  overflow: hidden;
  border-radius: 1%;
}

@media only screen and (max-width:500px) {
    .choicecontainer {
        flex-direction: column;
        display: flex;
    }
